@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

body {
    font-family: "Metamorphous", serif;
}

header {
    display: flex;
    background-color: #96B6C5;
}

#business-logo {
    flex: 1 0 auto;
    color: white;
    padding-left: 2rem;
}

.nav-buttons {
    display: flex;
    flex: 0 1 auto;
    gap: 2rem;
}

.nav-button {
    width: 150px;
    background-color: #96B6C5;
    color: white;
    margin: 1rem;
    border-radius: 8px;
    font-size: large;
}

.nav-button:hover {
    background-color: white;
    color: #96B6C5;
    transition: .5s;
}


.backgroundContent {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('./images/shattered-plains.jpg');
    background-size: cover;
    height: 100vh;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 3rem;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.5);
}

.menus {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./images/scroll-paper-background.jpg);
    background-size: cover;
    display: grid;
    gap: 5rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.nationality,
.color {
    font-size: 1.5rem;
}


/* all to put the dotted line between the description and price */
.desc-price-container {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.description {
    flex: 0 0 auto;
}

.desc-price-container > span {
    flex: 1 0 auto;
}

.price {
    flex: 0 0 auto;
}

.desc-price-buffer {
    border-bottom: 2px dotted darkgray;
    /* width: 50%; */
}
/* ----------------------------------------------------------- */

#food-menu,
#wine-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 4rem;
    
}

#food-menu > h1,
#wine-menu > h1 {
    text-align: center;
}

.color-strength-container,
.nationality {
    display: grid;
    gap: 0.5rem;
}

